
p {
  font-family: 'Righteous', cursive;
font-weight: 300;
color: #fff;
}

.section01 {
  font-family: 'Righteous', cursive;
}

h1 {
  font-size: 100px;
  color:#ffbb00;
}


.navigation-link{
  font-family: 'Righteous', cursive;
  font-size: 20px
}

.section07 {
  font-family: '', cursive;
color:#ffbb00;
}
