
video {
  border : 2em solid #000;
  border-radius: 1em;
  display: block;
  width : 750px;
  margin: 2em auto;
border-color: white;
height: 600px
}


li {
  border-radius: 2px;
  margin-left: 19%;
margin-top: 3px;
  display:flex;
text-align: center;
color: white;
padding-left:0px ;
display:inline;

}


#AVANCE {
margin-top: -2%;
margin-left: 4%;


}

#vagues{

margin-left: 20%;
margin-top:-6%;
}

.navigation-link {

  border-radius: 2px;
  margin-left: 5%;
margin-top: 3px;
  display:flex;
text-align: center;
color: white;
padding-left:0px ;
display:inline;

}

body{
  background-color:black;
margin: 0;
padding: 0;
width: 100%;
height:100%;

}



h1{
text-align:center;
}

.section01 {
 background: url('images/abeille.jpg') top center no-repeat;
 background-size: cover;
 background-attachment: fixed;
 min-height: 40vh;
 padding:200px;
 margin-left: 80px;
 margin-right:80px;
margin-top: 40px;
}



.section03 {
 background: url('images/abeille 3.jpg') top center no-repeat;
 background-size: cover;
 background-attachment: fixed;
 min-height: 40vh;
 padding: 200px;
 margin-left: 80px;
 margin-right:80px;
}

.section04 {
 background: url('images/abeille 4.jpg') top center no-repeat;
 background-size:cover;
 background-attachment: fixed;
 min-height: 40vh;
 padding: 200px;
 margin-left: 80px;
 margin-right:80px;
}

.section05 {
 background: url('images/abeille 5.jpg') top center no-repeat;
 background-size: cover;
 background-attachment: fixed;
 min-height: 40vh;
 padding: 200px;
 margin-left: 80px;
 margin-right:80px;
}

ol {
  list-style-type:lower-latin;;
  display: flex;
  flex-wrap: wrap;
}

ul {



}


}

li img {
  width : 200%;

}
#color-1 {
 background-color: #fff;
}

#color-2 {
 background-color: #ffbb00;
}

#color-3 {
 background-color: #cd821d;
}

#color-4 {
 background-color: #e6b220;
}
#color-5 {
 background-color: #f8d931;
}
#color-6 {
 background-color: rebeccapurple;
}

/*#### Color section in the style page   ####*/

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content : center;
  text-align : center;
 text-transform: uppercase;
 font-size: 2em;

}

#colors li {
  height :100px;
  width : 160px;
  border-radius: 0px;
  color : #fff;
  display: flex;
  align-items: center;
justify-content: center;
margin-right: 20%;
padding: -30%
}

ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ol li {
  border : 1px solid #000;
  width : 160px;
  margin : 6px;
}

li img {
  width : 100%;
}
